.Rproj.user
.Rhistory
.RData
.Ruserdata
.httr-oauth
cleaning-salary-data.R
20books-data.html
Homework-2-solutions.html
Homework-2-solutions.qmd
book-scraping-data.csv
goletaforecast.rda
weather_data.Rda